@media (min-width: 1200px) {
    .container {
        width: 1290px;
        max-width: 1290px;
    }

    .layout-boxed .page-wrapper {
        max-width: 1320px;
    }/*==1 COLUMN==*/

    .col1-layout .category-product.products-grid .item {
        width: 25%;
    }

    .col1-layout .category-product.products-grid .item:nth-child(4n + 1) {
        clear: both;
    }/*==2 COLUMNS==*/

    .col2-layout .category-product.products-grid .item {
        width: 33.333333333333%;
    }

    .col2-layout .category-product.products-grid .item:nth-child(3n + 1) {
        clear: both;
    }/*==3 COLUMNS==*/

    .col3-layout .category-product.products-grid .item {
        width: 50%;
    }

    .col3-layout .category-product.products-grid .item:nth-child(2n + 1) {
        clear: both;
    }
}

@media (min-width: 992px) and(max-width: 1199px) {
    /*==1 COLUMN==*/
    .col1-layout .category-product.products-grid .item {
        width: 25%;
    }

    .col1-layout .category-product.products-grid .item:nth-child(4n + 1) {
        clear: both;
    }/*==2 COLUMNS==*/

    .col2-layout .category-product.products-grid .item {
        width: 33.333333333333%;
    }

    .col2-layout .category-product.products-grid .item:nth-child(3n + 1) {
        clear: both;
    }/*==3 COLUMNS==*/

    .col3-layout .category-product.products-grid .item {
        width: 100%;
    }

    .col3-layout .category-product.products-grid .item:nth-child(1n + 1) {
        clear: both;
    }
}

@media (min-width: 768px) and(max-width: 991px) {
    /*==1 COLUMN==*/
    .col1-layout .category-product.products-grid .item {
        width: 33.333333333333%;
    }

    .col1-layout .category-product.products-grid .item:nth-child(3n + 1) {
        clear: both;
    }/*==2 COLUMNS==*/

    .col2-layout .category-product.products-grid .item {
        width: 33.333333333333%;
    }

    .col2-layout .category-product.products-grid .item:nth-child(3n + 1) {
        clear: both;
    }/*==3 COLUMNS==*/

    .col3-layout .category-product.products-grid .item {
        width: 100%;
    }

    .col3-layout .category-product.products-grid .item:nth-child(1n + 1) {
        clear: both;
    }
}

@media (min-width: 481px) and(max-width: 767px) {
    /*==1 COLUMN==*/
    .col1-layout .category-product.products-grid .item {
        width: 50%;
    }

    .col1-layout .category-product.products-grid .item:nth-child(2n + 1) {
        clear: both;
    }/*==2 COLUMNS==*/

    .col2-layout .category-product.products-grid .item {
        width: 50%;
    }

    .col2-layout .category-product.products-grid .item:nth-child(2n + 1) {
        clear: both;
    }/*==3 COLUMNS==*/

    .col3-layout .category-product.products-grid .item {
        width: 100%;
    }

    .col3-layout .category-product.products-grid .item:nth-child(1n + 1) {
        clear: both;
    }
}

@media (max-width: 480px) {
    /*==1 COLUMN==*/
    .col1-layout .category-product.products-grid .item {
        width: 100%;
    }

    .col1-layout .category-product.products-grid .item:nth-child(1n + 1) {
        clear: both;
    }/*==2 COLUMNS==*/

    .col2-layout .category-product.products-grid .item {
        width: 100%;
    }

    .col2-layout .category-product.products-grid .item:nth-child(1n + 1) {
        clear: both;
    }/*==3 COLUMNS==*/

    .col3-layout .category-product.products-grid .item {
        width: 100%;
    }

    .col3-layout .category-product.products-grid .item:nth-child(1n + 1) {
        clear: both;
    }
}

body{
    background-color: black;
}